<div class="webbody clearfix">
    {{> menuBar }}
    <div class="mtcontent" id="mt-container">
        <h1 class="home_title">推荐群组</h1>
        <a href="/findarticle">推荐文章</a>
        <div class="mygrouplist clearfix">
            {{#each groupArray}}
            <a href="/group/{{name}}" class="groupblock">
                <img src="http://placehold.it/64x64/09f/fff">
                <span class="title">{{name}}</span>
                <span class="intro">{{intro}}</span>
            </a>
            {{/each }}
            <a data-toggle="modal" data-target="#creatgroup-model" class="group_edit">
                <i class="icon_addgroup"></i>
                <span class="title">创建新群组</span>
            </a>
        </div>
        {{> creatGroup}}
    </div>
</div>
