<div class="webbody clearfix">
    {{> menuBar }}
    <div class="mtcontent" id="mt-container">
        <h1 class="home_title">推荐文章</h1>
        <a href="/findgroup">推荐群组</a>
        {{> blockList }}
    </div>
</div>
