<div class="webbody clearfix">
    {{> menuBar }}
    <div class="groupcontent" id="mt-container">
        {{> groupMenu}}
        <div class="groupbody">
            <h1 class="home_title">小组首页</h1>
            {{> blockList }}
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/group.js"></script>
