<div class="webbody clearfix">
    {{> menuBar }}
    <div class="groupcontent" id="mt-container">
        {{> groupMenu}}
        <div class="groupbody">
            <h1 class="home_title">{{groupname}}-设置</h1>

        </div>
    </div>
</div>
