<div class="index-container">
    <div class="header container-item"></div>
    <div class="content container-item">
        <button type="button" id="signup-btn" class="signup btn btn-success">快速注册</button>
        <button type="button" id="login-btn" class="login btn btn-default">登录</button>
    </div>
    <div class="footer container-item">
        Author by:<a href="https://github.com/ArayZou">ArayZou</a>&apm;<a href="https://github.com/loveLibra">徐祁</a>
    </div>
</div>
<script id="login-signup-tpl" type="text/x-handlebars-template">
    <div class="mask"></div>
    <div id="login-signup-panel" class="login-signup panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{#if isLogin}}
                    登录
                {{^}}
                    注册成为馒头会员
                {{/if}}
            </h3>
            <span id="close-panel-btn" class="close glyphicon glyphicon-remove-circle"></span>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="userEmail" class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="userEmail">
                    </div>
                </div>
                <div class="form-group">
                    <label for="userPassword" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="userPassword">
                    </div>
                </div>
                {{#if isLogin}}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                              <input type="checkbox"> 记住我
                            </label>
                        </div>
                    </div>
                </div>
                {{/if}}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">
                            {{#if isLogin}}
                                登录
                            {{^}}
                                注册
                            {{/if}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
