<div class="index-container">
    <div class="header container-item"></div>
    <div class="content container-item">
        <button type="button" id="signup-btn" class="signup btn btn-success" data-toggle="modal" data-target="#signup-panel">快速注册</button>
        <button type="button" id="login-btn" class="login btn btn-default" data-toggle="modal" data-target="#login-panel">登录</button>
    </div>
    <div class="footer container-item">
        Author by:<a href="https://github.com/ArayZou">ArayZou</a>&apm;<a href="https://github.com/loveLibra">徐祁</a>
    </div>
</div>
