<!DOCTYPE html>
<html>
    <head>
        <title>mantou_{{title}}</title>
        {{> header}}
    </head>
    <body>
        {{{body}}}
        {{> footer}}
        {{> loginSignup }}
    </body>
</html>
