<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
<<<<<<< HEAD
        <link rel='stylesheet' href='/dist/all.min.css' />
    </head>
    <body>
        {{{body}}}
    </body>
</html>
