<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href='/libs/bootstrap/dist/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/css/mantou.css' />
    </head>
    <body>
        {{{body}}}
        {{> footer }}
    </body>
</html>
