<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href='/libs/bootstrap/dist/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/css/mantou.css' />
    </head>
    <body>
        {{{body}}}

        {{> footer }}
        <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/libs/handlebars/handlebars.min.js"></script>
        <script type="text/javascript" src="/js/login-signup.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>
