<div class="webbody clearfix">
    {{> menuBar }}
    <div class="mtcontent" id="mt-container">
        <div id="me-page" class="me-page">
            <div class="img-name">
                <span class="me-img">
                    <img src="http://placehold.it/40x40/09f/fff">
                </span>
                <label>{{user.name}}</label>
            </div>
            <div id="me-tabs" class="tabs">
                <ul class="nav nav-tabs" id="nav-tabs">
                    <li class="my-col">
                        <a>我的收藏</a>
                    </li>
                    <li class="my-pub">
                        <a>我的发布</a>
                    </li>
                    <button id="me-setting" class="setting btn">
                        <i class="fa fa-cog"></i>
                        个人设置
                    </button>
                </ul>
                <div id="tab-content" class="content"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/me.js"></script>
<script type="text/x-handlebars" id="my-collect-tpl">
    <div class="content">
        \{{#if collections}}
            show collections
        \{{^}}
            没有收藏～
        \{{/if}}
    </div>
</script>
<script type="text/x-handlebars" id="my-pub-tpl">
    <div class="content">
        \{{#if pubs}}
            show pubs
        \{{^}}
            没有发布过帖子～
        \{{/if}}
    </div>
</script>
<script type="text/x-handlebars" id="setting-panel-tpl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span id="close-setting">&times</span>
        </div>
        <div class="panel-body">
            <div id="setting-tabs" class="tabs">
                <ul class="nav nav-tabs">
                    <li class="set-photo">
                        <a>我的头像</a>
                    </li>
                    <li class="set-info">
                        <a>个人资料</a>
                    </li>
                    <li class="set-psw">
                        <a>修改密码</a>
                    </li>
                </ul>
                <div id="setting-tab-content"></div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-handlebars" id="set-photo-tpl">
    something
</script>
<script type="text/x-handlebars" id="set-info-tpl">
    something
</script>
<script type="text/x-handlebars" id="set-psw-tpl">
    something
</script>
