<div class="webbody clearfix">
    {{> menuBar }}
    <div class="mtcontent" id="mt-container">
        <h1 class="home_title">我关注的群组</h1>
        <div class="mygrouplist clearfix">
            {{#each user.followgroup}}
            <a href="/group/{{name}}" class="groupblock">
                <img src="http://placehold.it/64x64/09f/fff">
                <span class="title">{{name}}</span>
                <span class="intro">群组简介</span>
            </a>
            {{/each }}
            <a href="/findgroup" class="group_edit">
                <i class="icon_findgroup"></i>
                <span class="title">关注新群组</span>
            </a>
            <a data-toggle="modal" data-target="#creatgroup-model" class="group_edit">
                <i class="icon_addgroup"></i>
                <span class="title">创建新群组</span>
            </a>
        </div>
        {{> creatGroup}}
    </div>
</div>
