// 附加reset
ul{
    padding:0;
}
li{
    list-style: none;
}
*{
    outline: 0;
}
// 附加reset end

// 全局样式
html,
body,
.webbody{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    font: 12px/18px Arial,'Droid Sans','Microsoft YaHei','Hiragino Sans GB',STXihei,'simsun','sans-serif';
    color: #333;
}
a {
    color: #00B7FF;
}
.webbody{
    padding:0 0 0 200px;
}
.groupcontent{
    float: left;
    height: 100%;
    padding:0 0 0 340px;
}
.mtcontent,
.groupbody{
    float: left;
    padding:20px 0 0 20px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.home_title{
    margin:0 0 15px;
    font-size: 34px;
    line-height: 40px;
}
// 全局样式 end

// blocklist
.blocklist{
    margin-right: -20px;
    .mtimg_block{
        float: left;
        width: 320px;
        height: 240px;
        overflow: hidden;
        margin:0 20px 20px 0;
        position: relative;
        border-radius: 8px;
        .block_img{
            display: block;
            width: 320px;
            height: 240px;
        }
        .block_text{
            position: absolute;
            top: 0;
            left: 0;
            padding:30px 30px 0;
            width: 100%;
            height: 100%;
            box-sizing:border-box;
            background: rgba(0,0,0,0.3);
            .block_title{
                font-size: 28px;
                color: #fff;
                line-height: 34px;
                display: block;
                margin-bottom: 10px;
            }
            .block_info{
                font-size: 20px;
                color: #fff;
                line-height: 20px;
            }
        }
        &:hover{
            .block_text{
                background: rgba(0,0,0,0.1);
            }
        }
    }
}
// blocklist end
