#index-container{
    height: 1000px;
    width: 100%;
    background-image: url('http://dn-xuqi.qbox.me/1.jpg');
}
#login-signup-panel{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    display: none;
}