.index-container{
    height: 100%;
    width: 100%;
    background: url('http://dn-xuqi.qbox.me/1.jpg') no-repeat;
    .container-item{
        width: 230px;
        margin-right: auto;
        margin-left: auto;
        &.content button{
            display: block;
            width: 230px;
            height: 40px;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
            &.login{
                color: #449d44;
            }
        }
        &.footer{
            text-align: center;
            bottom: 20px;
            position: absolute;
            width: 100%;
        }
    }
}
