#index-container{
    height: 100%;
    width: 100%;
    background: url('http://dn-xuqi.qbox.me/1.jpg') no-repeat;
    .container-item{
        width: 230px;
        margin-right: auto;
        margin-left: auto;
        &.content button{
            display: block;
            width: 230px;
            height: 40px;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
            &#login-btn{
                color: #449d44;
            }
        }
        &.footer{
            text-align: center;
        }
    }
}
#login-signup-panel{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    #close-panel-btn{
        float: right;
        color: #AAA;
        font-size: 16px;
        margin-top: -16px;
        &:hover{
            color: #666;
        };
    }
}