.mask{
    background: #000;
    opacity: 0.75;
    filter: alpha(opacity=75);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}
.login-signup{
    position: fixed;
    width: 500px;
    z-index: 1001;
    .panel-heading{
        position: relative;
        .close{
            position: absolute;
            color: #AAA;
            font-size: 16px;
            right: 11px;
            top: 11px;
            &:hover{
                color: #666;
            };
        }
    }
}
