.me-page{
    position: relative;
    .panel{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .img-name{
        margin-bottom: 10px;
        img{
            height: 90px;
            width: 90px;
        }
    }
}


.tabs{
    .nav-tabs{
        font-size: 14px;
        cursor: pointer;
        .setting{
            float: right;
        }
    }
    .content{
        width: 100%;
        border: 1px solid red;
        padding: 10px;
        .form-group:last-child{
            margin-bottom: 0;
        }
    }
}
