<ul class="blocklist clearfix">
    <li>
        <a href="">
            <img class="block_img" src="http://placehold.it/320x240/09f/fff">
            <span class="block_title">标题标题</span>
            <span class="block_info">描述描述描述描述</span>
        </a>
    </li>
</ul>
