<div class="mask"></div>
<div id="login-signup-panel" class="panel panel-default hide">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{#if isLogin}}
                登录
            {{^}}
                注册成为馒头会员
            {{/if}}
        </h3>
        <span id="close-panel-btn" class="close glyphicon glyphicon-remove-circle"></span>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="userEmail" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="userEmail">
                </div>
            </div>
            <div class="form-group">
                <label for="userPassword" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="userPassword">
                </div>
            </div>
            {{#if isLogin}}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-9">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox"> 记住我
                        </label>
                    </div>
                </div>
            </div>
            {{/if}}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-9">
                    <button type="submit" class="btn btn-default">
                        {{#if isLogin}}
                            登录
                        {{^}}
                            注册
                        {{/if}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
