<script type="text/x-handlebars" id="me-tpl">
    <div class="me-page">
        <div class="img-name">
            <span class="me-img">
                <img src="http://placehold.it/40x40/09f/fff">
            </span>
            <h1>{{user.name}}</h1>
        </div>
    </div>
</script>
