<div class="menubar">
    <div class="logo_img"></div>
    {{#if user}}
    <ul class="menu_list">
        <li>
            <a href="/mine">
                <span class="menuimg">
                    <img src="http://placehold.it/40x40/09f/fff">
                </span>
                <span class="menutext">{{user.name}}</span>
                <sup>10</sup>
            </a>
        </li>
        <li>
            <a href="/home">
                <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
                <span class="menutext">首页</span>
                <sup>5</sup>
            </a>
        </li>
        <li>
            <a href="/mail">
                <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                <span class="menutext">消息</span>
                <sup>5</sup>
            </a>
        </li>
        <li>
            <a href="/sortname">
                <span class="menuimg">
                    <img src="http://placehold.it/40x40/09f/fff">
                </span>
                <span class="menutext">社区名称</span>
                <sup>10</sup>
            </a>
        </li>
        <li>
            <a href="/find">
                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                <span class="menutext">发现</span>
                <sup>99</sup>
            </a>
        </li>
        <li>
            <a href="/morefollows">
                <i class="glyphicon glyphicon-th" aria-hidden="true"></i>
                <span class="menutext">更多关注</span>
                <sup>99</sup>
            </a>
        </li>
        <li>
            <a id="userlogout" href="javascript:;">
                <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
                <span class="menutext">退出</span>
            </a>
        </li>
    </ul>
    {{else}}
    <ul class="menu_list">
        <li>
            <a href="/home">
                <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
                <span class="menutext">首页</span>
                <sup>5</sup>
            </a>
        </li>
        <li>
            <a id="signin" href="javascript:;" data-toggle="modal" data-target="#login-panel">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                <span class="menutext">登录</span>
            </a>
        </li>
        <li>
            <a id="signup" href="javascript:;" data-toggle="modal" data-target="#signup-panel">
                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                <span class="menutext">注册</span>
            </a>
        </li>
    </ul>
    {{/if}}
</div>
